@model Team

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">@Model.Name
      @*<small>Secondary Text</small>*@
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="@Model.LogoImageUrl" width="100%" height="100% alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">@Model.Name</h3>
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    <h3 class="my-4">Images</h3>
  
    <div class="row">
        @foreach(var item in Model.CarImageUrls){
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="@item.Url" alt="">
            </a>
      </div>
        }
      
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->