@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>YouTube Video</title>
</head>
<body>
	<h1>YouTube Video Example</h1>
	<p>Here's a video from YouTube:</p>
	<div style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden;">
      <iframe src="https://www.youtube.com/embed/8AJbUtRaanI" style="position:absolute; top:0; left:0; width:100%; height:100%;" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
